body {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  /*background-color: rgba(249, 239, 227, 1);*/
  background-color: rgba(48, 71, 88, 1);
}

button {
  margin: 6px 6px 6px 0;
  padding: 4px;
  font-size: 14px;
}

video {
  width: 300;
  height: 300;
}

p {
  display: inline;
  font-size: 16px;
}

.emoji {
  font-size: 24px;
}

*{
  -webkit-touch-callout:none; /*系统默认菜单被禁用*/
  -webkit-user-select:none; /*webkit浏览器*/
  -khtml-user-select:none; /*早期浏览器*/
  -moz-user-select:none;/*火狐*/
  -ms-user-select:none; /*IE10*/
  user-select:none;
}
